<div class="p-4 mt-24">
  {% include "partials/show_catalog_tag_form.html" %}
  <div class="dropdown">
    <button class="dropbtn">Select</button>
    <div class="dropdown-content">
      {% for catalog_tag_id_, catalog_tag_ in all_catalog_tags.items() %}
      {% if dataset %}
      <a href="{{ url_for('get_tree') }}?catalog_tag_id={{ catalog_tag_id_ }}&dataset_id={{ dataset.id }}">{{ catalog_tag_.catalog_tag.name }}</a>
      {% else %}
      <a href="{{ url_for('get_tree') }}?catalog_tag_id={{ catalog_tag_id_ }}">{{ catalog_tag_.catalog_tag.name }}</a>      
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
