<div class="bg-gray-100 p-4 mt-24">
  <span>Algorithms:</span>
  <ul class="ml-2" id="estimatorUL">
    {% for algo_id, algo_ in algos.items() %}
    <li>
      <span class="box">{{ algo_.algo.name }}</span>
      <a href="#" class="text-indigo-700">(Load Model)</a>
      <ul class="nested ml-2">
	{% for model_id, model_ in algo_.models.items() %}
	<li>
	  <span class="box">Model: {{ model_.model.name }}</span>
	  <a href="#" class="text-indigo-700">(Load Estimator)</a>
	  <ul class="nested ml-2">
	    {% for estimator_id, estimator_ in model_.estimators.items() %}
	    <li>
	      <span class="box">Estimator: {{ estimator_.estimator.name }}</span>
	      <ul class="nested ml-2">
		<li>
		  <span>Request</span>
		  {% if estimator_.request %}
		  <a href="#" class="text-indigo-700">({{ estimator_.request.id }})</a>
		  {% else %}
		  <a href="#" class="text-indigo-700">(create request)</a>
		  {% endif %}
		</li>
	      </ul>
	    </li>
	    {% endfor %}
	  </ul>
        </li>
	{% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>
<script src="{{ url_for('static', path='/js/tree_view.js') }}"></script>
<script src="{{ url_for('static', path='/js/tree_check_boxes.js') }}"></script>
