<form class="form-inline" method="post">
<input type="hidden" id="algo_id" value="{{ algo_.algo.id }}" name="algo_id">
<input type="hidden" id="dataset_id" value="{{ dataset.id }}" name="dataset_id">
<input type="hidden" id="estimator_id" value="{{ estimator_.estimator.id }}" name="estimator_id">
<input type="hidden" id="catalog_tag_id" value="{{ catalog_tag.id }}" name="catalog_tag_id">
<input type="hidden" id="dataset_name" value="{{ dataset.name }}" name="dataset_name">
<input type="hidden" id="estimator_name" value="{{ estimator_.estimator.name }}" name="estimator_name">
<input type="hidden" id="display_type" value="estimator_form" name="display_type">
<input type="submit" value="       (Run)" name="run_request">
</form>
