{% extends "pages/standard.html" %}
{% block catalog_tags %}
<div class="h-full w-full" id="catalog_tag_content">
<div class="h-full w-full mt-5 px-4 sm:px-6 lg:px-8">
  {% include "partials/catalog_tag_tree.html" %}
</div>
</div>
{% endblock %}

{% block estimators %}
<div class="h-full w-full" id="estimator_content">
<div class="h-full w-full mt-5 px-4 sm:px-6 lg:px-8">
  {% include "partials/estimator_tree.html" %}
</div>
</div>
{% endblock %}

{% block display %}
<div class="h-full w-full" id="display_content">
<div class="h-full w-full mt-5 px-4 sm:px-6 lg:px-8">
</div>
</div>
{% endblock %}


{% block datasets %}
<div class="h-full w-full" id="dataset_content">
<div class="h-full w-full mt-5 px-4 sm:px-6 lg:px-8">
  {% include "partials/dataset_tree.html" %}
</div>
</div>
{% endblock %}
